@keyframes moveAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .lottie-container {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: 4;
  }
  
  .lottie-container .lottie {
    width: 150px;
    animation: moveAnimation 5s linear infinite;
  }
  